@font-face {
  font-family: Young-Serif;
  src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
  font-family: Outfit;
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
	--dark-charcoal: #312E2C;
	--dark-raspberry: #7A284E;
	--brandy-red: #854632;
	--wenge-brown: #5F564D;
	--eggshell: #F3E5D7;
	--white-coffee: #E3DDD7;
	--snow: #FFF7FB;
	--white: #FFFFFF;


  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-weight: 400;
	font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
	font-family: Young-Serif;
	font-size: 40px;
	line-height: 1;
}

h2{
	font-family: Young-Serif;
	font-size: 28px;
	line-height: 1;
}

h3{
	font-family: Outfit;
	font-size: 20px;
	line-height: 1;
	font-weight: 600;
}

.bold{
	font-weight: 700;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}